.logo_elixir {
    width: 150px;
    background: url('../images/logo_small.png');
}

#menu nav.primary ul li a {
    color: #777777;
}

#menu {
    background-color: #ccc;
}

.logointro {
    background: url(../images/logo_full.png);
    background-repeat: no-repeat;
    width: 500px;
    height: 100%;
    margin-top: 200px;
}

section#location h3.reservation-phone {
    font-family: "Oswald";
    font-weight: 200;
    color: #8d9d35;
    margin-bottom: 10px;
}
section#location h3 {
    text-align: center;
    font-size: 48px;
    margin: 20px 0px 20px 0px;
}

section#menu .primary {
    margin-bottom: 45px;
}